{% extends "studentreg/base.html" %} {% load static %} {% block content %}

<main class="container-fluid">
  <section class="container">
    <div class="row pt-4">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/analytics.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">
              MSc Data Analytics with Banking and Finance
            </h6>
            <p class="card-text">73-739467-BF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/AI.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">MSc Artificial Intelligence</h6>
            <p class="card-text">73-756457-AF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/health.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">
              MSc Healthcare Analytics and Artificial Intelligence
            </h6>
            <p class="card-text">73-790327-AF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/games1.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">MSc Computer Games Technology</h6>
            <p class="card-text">73-775431-EF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/infotech.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">MSc Information Technology Management</h6>
            <p class="card-text">73-776542-BF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/bigdata.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">MSc Big Data Analytics</h6>
            <p class="card-text">73-790327-AF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/computing.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">MSc Computing</h6>
            <p class="card-text">73-734567-EF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{% static 'img/CyberSec.jpg' %}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h6 class="card-title">MSc Cyber Security</h6>
            <p class="card-text">73-798721-AF-20234</p>
            <a href="#">Lecturers</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
