{% extends "studentreg/base.html" %} {% load static %} {% block content %}

<main class="container-fluid">
  <section class="container">
    <h1 class="color">Module Details:</h1>

    <h6 class="card-title">
      <a href="{% url 'studentreg:module_detail' module.code%}"></a>
      <strong>{{module.name}}</strong>
    </h6>
    <p class="card-text">{{module.code}}</p>
    <p class="card-text"><strong>Credit:</strong> {{module.category}}</p>
    <p class="card-text">
      <strong>Availability:</strong> {% if module.availability %}Open{% else
      %}Closed{% endif %} {{module.availability}}
    </p>
    {% if module.availability %}

    <div class="reg">
      <a
        href="{% url 'studentreg:module_register' module.code %}"
        class="regBtn"
        >Register
      </a>
      <a
        href="{% url 'studentreg:module_unregister' module.code %}"
        class="regBtn"
        >Unregister
      </a>
    </div>
    {% endif %}
  </section>
</main>

{% endblock %}
