{% extends "studentreg/base.html" %} {% load static %} {% block content %}

<main class="container-fluid">
  <section class="container">
    <h1 class="color">Module Details:</h1>

    <h6 class="card-title">
      <a href="{% url 'studentreg:module_detail' module.code%}"></a>
      <strong>{{module.name}}</strong>
    </h6>
    <p class="card-text">{{module.code}}</p>
    <p class="card-text"><strong>Credit:</strong> {{module.category}}</p>
    <p class="card-text">
      <strong>Availability:</strong>{% if module.availability %} Open {% else %}
      Closed {% endif %}
    </p>

    <div class="reg">
      {% if has_registered %}
      <a
        href="{% url 'studentreg:module_unregister' module.code %}"
        class="regBtn"
        >Unregister
      </a>
      <a
        href="{% url 'studentreg:module_feedback' module.code %}"
        class="regBtn"
        >Feedback
      </a>
      {% else %}
      <a
        href="{% url 'studentreg:module_register' module.code %}"
        class="regBtn"
        >Register
      </a>

      {% endif %}
    </div>
    <h1 class="color mt-4">Registrations</h1>
    {% if user.is_authenticated %} {%for registration in registrations %}
    <li class="list-group-item list-group-item-light">
      <img
        class="rounded-circle article-img"
        src="{{registration.student.photo.url}}"
      />

      <span class="article-content"
        >{{registration.student.user.first_name}}
        {{registration.student.user.last_name}}
      </span>
    </li>
    {% empty %}
    <p>No student registered</p>
    {% endfor%} {%endif%}

    <h3 class="color mt-4">Feedback for {{ module.name }}</h3>
    <table class="table table-striped mb">
      <thead>
        <tr>
          <th>Feedback</th>
          <th>Rating</th>
          <th>Date</th>
        </tr>
      </thead>
      {% for fb in feedback %}
      <tbody
      <tr>
        <td>{{ fb.feedback_text }}</td>
        <td>{{ fb.rating }}/5</td>
        <td>{{ fb.date_submitted }}</td>
      </tr>
    {% empty %}
    <p>No feedback yet.</p>
    {% endfor %}
    </tbody>
  </table>

  </section>
</main>

{% endblock %}
