{% extends "studentreg/base.html" %} {% load static %} {% block content %}

<main class="container-fluid">
  <section class="container">
    <h1>Module Details:</h1>

    <h6 class="card-title">
      <a href="{% url 'studentreg:module_detail' module.code%}"></a>
      {{module.name}}
    </h6>
    <p class="card-text">{{module.code}}</p>
    <p class="card-text"><strong>Credit:</strong> {{module.category}}</p>
    <p class="card-text">
      <strong>Availability:</strong> {{module.availability}}
    </p>
    <div class="reg">
      <button class="regBtn">
        <div class="text">Register</div>
      </button>
      <button class="regBtn">
        <div class="text">Unregister</div>
      </button>
    </div>
  </section>
</main>

{% endblock %}
