{% extends "studentreg/base.html" %} {% load static %} 

{% block content %}
  <h2 class= "pad">My Registration Page</h2>
  <table>
    <thead>
      <tr>
        <th>Module Name</th>
        <th>Date of Registration</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in page_obj %}
        <tr>
          <td>{{ registration.module.name }}</td>
          <td>{{ registration.date_of_registration }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
