{% extends "studentreg/base.html" %} {% load static %} {% block content %}

<div class="content-section container pad">
  <div class="media">
    <p>
      <img
        class="rounded-circle account-img"
        src="{{user.student.photo.url}}"
      />
    </p>

    <div class="media-body">
      <h2 class="account-heading">{{user.username}}</h2>
      <p class="text-secondary">{{user.email}}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Details</legend>

      {{ u_form.as_p }} {{ sp_form.as_p }}
    </fieldset>
    <button type="Update" class="btn btn-outline-primary">Update</button>
  </form>
</div>
{% endblock content %}
