{% extends "studentreg/base.html" %} {% load static %} {% block content %}
<div class="main">
  <section class="signup">
    <div class="container">
      <div class="form-group">
        <a href="{% url 'studentreg:home' %}" class="form-submit">
          Back to Home</a
        >
      </div>
      <div class="registermain">
        <form method="POST" id="signup-form" class="form_main">
          {% csrf_token %} {{ form.non_field_errors }}
          <p class="heading">Registeration Form</p>
          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="4" y1="9" x2="20" y2="9"></line>
              <line x1="4" y1="15" x2="20" y2="15"></line>
              <line x1="10" y1="3" x2="8" y2="21"></line>
              <line x1="16" y1="3" x2="14" y2="21"></line>
            </svg>
            {% for error in register_form.username.errors %}
            <div>{{ error }}</div>
            {% endfor %} {{register_form.username}}
          </div>

          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon>
              <line x1="3" y1="22" x2="21" y2="22"></line>
            </svg>
            {% for error in register_form.first_name.errors %}
            <div>{{ error }}</div>
            {% endfor %} {{register_form.first_name}}
          </div>

          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon>
              <line x1="3" y1="22" x2="21" y2="22"></line>
            </svg>
            {% for error in register_form.last_name.errors %}
            <div>{{ error }}</div>
            {% endfor %} {{register_form.last_name}}
          </div>

          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
              ></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            {% for error in register_form.email.errors %}
            <div>{{ error }}</div>
            {% endfor %} {{register_form.email}}
          </div>

          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>

            {{student_form.gender}}
          </div>

          <div class="inputContainer input-group">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z"
              />
              <path d="M14 3v5h5M16 13H8M16 17H8M10 9H8" />
            </svg>
            {{student_form.course}}
          </div>

          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
            {% for error in register_form.password1.errors %}
            <div>{{ error }}</div>
            {% endfor %} {{register_form.password1}}
          </div>

          <div class="inputContainer">
            <svg
              class="inputIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
            {% for error in register_form.password2.errors %}
            <div>{{ error }}</div>
            {% endfor %} {{register_form.password2}}
          </div>

          <button type="submit" id="button">Register</button>

          <p class="loginhere inputContainer">
            Have an account ?
            <a class="forgotLink" href="{% url 'login' %}">Login here</a>
          </p>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock content %}