{% extends "studentreg/base.html" %} {% load static %} {% block content %}
<body>
  <div class="main">
    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
        <div class="form-group">
          <a href="{% url 'studentreg:home' %}" class="form-submit">
            Back to Home</a
          >
        </div>
        <div class="signup-content">
          <form method="POST" id="signup-form" class="signup-form">
            <h2 class="form-title">User Registeration Form</h2>
            <div class="form-group">
              <input
                type="text"
                class="form-input"
                name="Student ID"
                id="Student ID"
                placeholder=" Student ID"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-input"
                name="First name"
                id="First name"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-input"
                name="Last name"
                id="Last name"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-input"
                name="email"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="input-group form-group">
              <select class="form-select form-input2" id="inputGroupSelect01">
                <option selected>Select course</option>
                <option value="1">Artificial Intelligence</option>
                <option value="2">Big Data Analytics</option>
                <option value="3">Computer Games Technology</option>
                <option value="4">Computing</option>
                <option value="5">Cyber Security</option>
                <option value="6">
                  Data Analytics with Banking and Finance
                </option>
                <option value="7">
                  Healthcare Analytics and Artificial Intelligence
                </option>
                <option value="8">Information Technology Managemenent</option>
              </select>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-input"
                name="password"
                id="password"
                placeholder="Password"
              />
              <span
                toggle="#password"
                class="zmdi zmdi-eye field-icon toggle-password"
              ></span>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-input"
                name="re_password"
                id="re_password"
                placeholder="Confirm password"
              />
            </div>

            <div class="form-group">
              <input
                type="submit"
                name="submit"
                id="submit"
                class="form-submit"
                value="Register"
              />
            </div>
          </form>
          <p class="loginhere">
            Have an account ?
            <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  {% endblock content %}
</body>
